body {
  background-color: #7d58e4;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #3d9919;
  border-style: none;
    color: #fdffff;
}
input {
  height: 24px;
}